
  <!--loading tag-->
<div *ngIf="!ApiData" class="spinner">
  <div class="bounce1"></div>
  <div class="bounce2"></div>
  <div class="bounce3"></div>
</div>

  <!-- return success detail component-->
<div class="detail_content" *ngIf="ApiData">

  <!-- user info -->
  <div class="container">
    <div class="row">
      <div class="bd-callout bd-callout-info col-sm table-dark" style="color: #ffffff;">
        <h3 class="info_title">USERNAME</h3><hr />
        <div class="info_content">{{apiUsername}}</div>
      <!-- {{name}} -->
      </div>
      
      <div class="bd-callout bd-callout-warning col-sm info table-dark" style="color: #ffffff;">
        <h3 class="info_title">PLATFORM</h3><hr />  
        <div class="info_content">{{apiPlatform}}</div>
          <!-- {{platform}}  -->
      </div>

      <div class="bd-callout bd-callout-danger col-sm info table-dark" style="color: #ffffff;">
        <h3 class="info_title">LAST UPDATE</h3><hr />  
        <div class="info_content">{{apiLastUpdate}}</div>
      </div>
    </div>
  </div>

  <!-- total data -->
  <div class="card border-dark mb-3" style="background-color: #5a5ed2;">
    <div class="card-header text-white" style="font-weight: bold">Total</div>
    <div class="card-body table-dark">
      <div class="row" style="text-align:center;">
        <div class="col-sm-4"><div class="detail_title" >Kills</div><div class="text-white">{{ApiValue.totals.kills}}</div></div>
        <div class="col-sm-4"><div class="detail_title">Wins</div><div class="text-white">{{ApiValue.totals.wins}}</div></div>
        <div class="col-sm-4"><div class="detail_title">Winrate</div><div class="text-white">{{ApiValue.totals.winrate}}</div></div>
      </div>
      <div class="row" style="text-align:center;">
        <div class="col-sm-4"><div class="detail_title">Score</div><div class="text-white">{{ApiValue.totals.score}}</div></div>
        <div class="col-sm-4"><div class="detail_title">KD</div><div class="text-white">{{ApiValue.totals.kd}}</div></div>
        <div class="col-sm-4"><div class="detail_title">HoursPlayed</div><div class="text-white">{{ApiValue.totals.hoursplayed}}</div></div>
      </div>
      <div class="row" style="text-align:center;">
        <div class="col-sm-6"><div class="detail_title">MatchedPlayed</div><div class="text-white">{{ApiValue.totals.matchesplayed}}</div></div>
        <div class="col-sm-6"><div class="detail_title">MinutesPlayed</div><div class="text-white">{{ApiValue.totals.minutesplayed}}</div></div>
      </div>
    </div>
  </div>

  <!-- PlaceTop -->
  <div class="card border-dark bg-info mb-3" style="">
    <div class="card-header text-white" style="font-weight: bold">PlaceTop</div>
    <div class="card-body table-dark">
      <div class="row">
        <ngx-charts-pie-chart
        [scheme]="pieColorScheme_placeTop"
        [results]="pieResult_placeTop"
        [gradient]="pieGradient_placeTop"
        (select)="pieOnSelect_placeTop($event)">
        </ngx-charts-pie-chart>
      </div>
      <div class="row">
        <div class="col" style="text-align:center;">
          <div class="row-sm-4 detail_title" >Top1</div>
          <div class="row-sm-4 text-white">{{pieData_placeTop[0].value}}</div>
          <div class="row-sm-4 text-white">{{pieData_placeTop[0].per}}%</div>
        </div>
        <div class="col" style="text-align:center;">
          <div class="row-sm-4 detail_title">Top3</div>
          <div class="row-sm-4 text-white">{{pieData_placeTop[1].value}}</div>
          <div class="row-sm-4 text-white">{{pieData_placeTop[1].per}}%</div>
        </div>
        <div class="col" style="text-align:center;">
          <div class="row-sm-4 detail_title">Top5</div>
          <div class="row-sm-4 text-white">{{pieData_placeTop[2].value}}</div>
          <div class="row-sm-4 text-white">{{pieData_placeTop[2].per}}%</div>
        </div>
        <div class="col" style="text-align:center;">
          <div class="row-sm-4 detail_title">Top6</div>
          <div class="row-sm-4 text-white">{{pieData_placeTop[3].value}}</div>
          <div class="row-sm-4 text-white">{{pieData_placeTop[3].per}}%</div>
        </div>
        <div class="col" style="text-align:center;">
          <div class="row-sm-4 detail_title">Top10</div>
          <div class="row-sm-4 text-white">{{pieData_placeTop[4].value}}</div>
          <div class="row-sm-4 text-white">{{pieData_placeTop[4].per}}%</div>
        </div>
        <div class="col" style="text-align:center;">
          <div class="row-sm-4 detail_title">Top12</div>
          <div class="row-sm-4 text-white">{{pieData_placeTop[5].value}}</div>
          <div class="row-sm-4 text-white">{{pieData_placeTop[5].per}}%</div>
        </div>
        <div class="col" style="text-align:center;">
          <div class="row-sm-4 detail_title">Top25</div>
          <div class="row-sm-4 text-white">{{pieData_placeTop[6].value}}</div>
          <div class="row-sm-4 text-white">{{pieData_placeTop[6].per}}%</div>
        </div>
      </div>
    </div>
  </div>

<!-- MatchedPlayed -->
<div class="card border-dark mb-3" style="background-color: #c12bff;">
  <div class="card-header text-white" style="font-weight: bold">MatchedPlayed</div>
  <div class="card-body table-dark">
    <div class="row">
      <ngx-charts-pie-chart
      [scheme]="pieColorScheme_matchedPlayed"
      [results]="pieResult_matchedPlayed"
      [gradient]="pieGradient_matchedPlayed"
      (select)="pieOnSelect_matchedPlayed($event)">
      </ngx-charts-pie-chart>
    </div>
    <div class="row">
      <div class="col" style="text-align:center;">
        <div class="row-sm-4 detail_title">Mached Played Solo</div>
        <div class="row-sm-4 text-white">{{pieData_matchedPlayed[0].value}}</div>
        <div class="row-sm-4 text-white">{{pieData_matchedPlayed[0].per}}%</div>
      </div>
      <div class="col" style="text-align:center;">
        <div class="row-sm-4 detail_title">Mached Played Duo</div>
        <div class="row-sm-4 text-white">{{pieData_matchedPlayed[1].value}}</div>
        <div class="row-sm-4 text-white">{{pieData_matchedPlayed[1].per}}%</div>
      </div>
      <div class="col" style="text-align:center;">
        <div class="row-sm-4 detail_title">Mached Played Squad</div>
        <div class="row-sm-4 text-white">{{pieData_matchedPlayed[2].value}}</div>
        <div class="row-sm-4 text-white">{{pieData_matchedPlayed[2].per}}%</div>
      </div>
      </div>
    </div>
  </div>

  <!-- Solo Data -->
  <div class="card border-dark bg-primary mb-3" >
    <div class="card-header text-white" style="font-weight: bold;">Solo</div>
    <div class="card-body table-dark">
      <div class="row" style="text-align:center;">
        <div class="col-sm-4"><div class="detail_title">Kills Solo</div><div class="text-white">{{ApiValue.stats.kills_solo}}</div></div>
        <div class="col-sm-4"><div class="detail_title">Wins Solo</div><div class="text-white">{{ApiValue.stats.kd_solo}}</div></div>
        <div class="col-sm-4"><div class="detail_title">Winrate Solo</div><div class="text-white">{{ApiValue.stats.winrate_solo}}</div></div>
      </div>
      <div class="row" style="text-align:center;">
        <div class="col-sm-6"><div class="detail_title">Score Solo</div><div class="text-white">{{ApiValue.stats.score_solo}}</div></div>
        <div class="col-sm-6"><div class="detail_title">MinitesPlayed Solo</div><div class="text-white">{{ApiValue.stats.minutesplayed_solo}}</div></div>
      </div>
    </div>
  </div>

<!-- Duo Data -->
  <div class="card border-dark bg-success mb-3">
    <div class="card-header text-white" style="font-weight: bold">Duo</div>
    <div class="card-body table-dark">
      <div class="row" style="text-align:center;">
          <div class="col-sm-4"><div class="detail_title">Kills Duo</div><div class="text-white">{{ApiValue.stats.kills_duo}}</div></div>
          <div class="col-sm-4"><div class="detail_title">Wins Duo</div><div class="text-white">{{ApiValue.stats.kd_duo}}</div></div>
          <div class="col-sm-4"><div class="detail_title">Winrate Duo</div><div class="text-white">{{ApiValue.stats.winrate_duo}}</div></div>
        </div>
        <div class="row" style="text-align:center;">
          <div class="col-sm-6"><div class="detail_title">Score Duo</div><div class="text-white">{{ApiValue.stats.score_duo}}</div></div>
          <div class="col-sm-6"><div class="detail_title">MinitesPlayed Duo</div><div class="text-white">{{ApiValue.stats.minutesplayed_duo}}</div></div>
        </div>
    </div>
  </div>

  <!-- Squad Data -->
  <div class="card border-dark bg-danger mb-3">
    <div class="card-header text-white" style="font-weight: bold">Squad</div>
    <div class="card-body table-dark">
      <div class="row" style="text-align:center;">
          <div class="col-sm-4"><div class="detail_title">Kills Squad</div><div class="text-white">{{ApiValue.stats.kills_squad}}</div></div>
          <div class="col-sm-4"><div class="detail_title">Wins Squad</div><div class="text-white">{{ApiValue.stats.kd_squad}}</div></div>
          <div class="col-sm-4"><div class="detail_title">Winrate Squad</div><div class="text-white">{{ApiValue.stats.winrate_squad}}</div></div>
        </div>
        <div class="row" style="text-align:center;">
          <div class="col-sm-6"><div class="detail_title">Score Squad</div><div class="text-white">{{ApiValue.stats.score_squad}}</div></div>
          <div class="col-sm-6"><div class="detail_title">MinitesPlayed Squad</div><div class="text-white">{{ApiValue.stats.minutesplayed_squad}}</div></div>
        </div>
    </div>
  </div>

  <!-- Score Data -->
  <div class="card border-dark bg-warning mb-3">
    <div class="card-header text-white" style="font-weight: bold">Score</div>
    <div class="card-body table-dark">
      <div class="row">
        <ngx-charts-pie-chart
          [scheme]="pieColorScheme_score"
          [results]="pieResults_score"
          (select)="pieOnSelect_score($event)">
        </ngx-charts-pie-chart>
      </div>
      <div class="row">
          <div class="col" style="text-align:center;">
            <div class="row-sm-4 detail_title" >Score Solo</div>
            <div class="row-sm-4 text-white">{{pieData_score[0].value}}</div>
            <div class="row-sm-4 text-white">{{pieData_score[0].per}}%</div>
          </div>
          <div class="col" style="text-align:center;">
            <div class="row-sm-4 detail_title">Score Duo</div>
            <div class="row-sm-4 text-white">{{pieData_score[1].value}}</div>
            <div class="row-sm-4 text-white">{{pieData_score[1].per}}%</div>
          </div>
          <div class="col" style="text-align:center;">
            <div class="row-sm-4 detail_title">Score Squad</div>
            <div class="row-sm-4 text-white">{{pieData_score[2].value}}</div>
            <div class="row-sm-4 text-white">{{pieData_score[2].per}}%</div>
          </div>
        </div>
    </div>
  </div>
  
</div>

