
<div [@openClose]="isOpen ? 'open' : 'closed'">
  <div class="jumbotron" style="background-image:url('assets/fortnite.jpg')"
  [ngStyle]="isOpen && {
    'height' : '100vh',
    'background-size' : 'cover'
  } || !isOpen && {
    'height' : '10vh',
    'width': '100%'
  }">
    <div class="container"
    [ngStyle]="isOpen && {
      'padding-top': '25%',
      'padding-left': '15%',
      'padding-right': '15%'
    } || !isOpen && {
      'padding-top': '1%',
      'padding-left': '1%',
      'padding-right': '1%'
    }" id="wrapper">

<!-- isOpen true일때  -->
  <ng-container *ngIf="isOpen; else elseTemplate">
    <div class="row">
      <div class="input-group">
        <input type="text" class="col-sm-9" style="float:left;" #searchName [value]="name" placeholder="Enter USER ID" (keydown.enter)="searchClick(searchName.value, selectedPlatform)">
        <div class="input-group-append col-sm-3" style="float:left; padding-right:0; padding-left: 0;">
          <select class="custom-select" [(ngModel)]="selectedPlatform">
            <option *ngFor="let platform of platforms" >{{platform}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <button id="searchBtn"
      class="col-sm-12 btn btn-dark"
      style="margin-top:1%;"
      (click)="searchClick(searchName.value, selectedPlatform)">
      Get Stats
      </button>
    </div>
  </ng-container>

<!-- isOpen false 일때  -->
  <ng-template #elseTemplate>
    <div class="row">
      <div class="input-group col-sm-9" style="padding-right:0%; padding-left: 0%;">
        <input type="text" class="col-sm-9" style="float:left;" #searchName [value]="name" placeholder="Enter USER ID" (keydown.enter)="searchClick(searchName.value, selectedPlatform)">
        <div class="input-group-append col-sm-3" style="float:left; padding-right:0; padding-left: 0;">
          <select class="custom-select" [(ngModel)]="selectedPlatform">
            <option *ngFor="let platform of platforms">{{platform}}</option>
          </select>
        </div>
      </div>

      <button id="searchBtn"
      class="col-sm-3 btn btn-dark"
      style="margin-top:0%; "
      (click)="searchClick(searchName.value, selectedPlatform)"
      >Get Stats</button>
    </div>
    </ng-template>
  

  </div>
</div>

  <div class="hor_ads">
    <ng-adsense
      [adClient]="'ca-pub-8739147803341265'"
      [adSlot]="9196284235"
      [display]="'inline-block'"
      [fullWidthResponsive]="true"
      [height]="150">
    </ng-adsense>
  </div>


      <div class="row">
        <div class="col-sm-3" >
          <div class="ads">
            <ng-adsense></ng-adsense>
          </div>
        </div>
        <div class="col-sm-6">
            <router-outlet #routerOutlet="outlet"></router-outlet>
        </div>
        <div class="col-sm-3">
          <div class="ads">
            <ng-adsense></ng-adsense>
          </div>
        </div>
      </div>

</div>