
<div [@openClose]="isOpen ? 'open' : 'closed'">
  <div class="jumbotron" style="background-image:url('assets/fortnite.jpg')"
  [ngStyle]="isOpen && {
    'height' : '100vh',
    'background-size' : 'cover'
  } || !isOpen && {
    'height' : '10vh',
    'width': '100%'
  }">
    <div class="container"
    [ngStyle]="isOpen && {
      'padding-top': '25%',
      'padding-left': '15%',
      'padding-right': '15%'
    } || !isOpen && {
      'padding-top': '1%',
      'padding-left': '1%',
      'padding-right': '1%'
    }" id="wrapper">

  <ng-container *ngIf="isOpen; else elseTemplate">
    <div class="row">
      <input type="email"
      style="float:left;"
      class="form-control col-sm-9" 
      aria-describedby="emailHelp" 
      placeholder="Enter USER ID" 
      [value]="name"
      (keydown.enter)="searchClick(searchName.value, selectedPlatform)"
      #searchName
      >

      <ng-select id="platformSelect"
      class="col-sm-3"
      style="float:left; padding-right:0; padding-left: 0;"
      [searchable]="false" 
      ng-selected="platforms[0]" 
      [items]="platforms" 
      [(ngModel)]="selectedPlatform">
      </ng-select> 
    </div>

    <div class="row">
      <button id="searchBtn"
      class="col-sm-12 btn btn-primary"
      style="margin-top:1%;"
      (click)="searchClick(searchName.value, selectedPlatform)">
      Submit
      </button>
    </div>
  </ng-container>

  <ng-template #elseTemplate>
    <div class="row">
      <input type="email"
      class="col-sm-6 form-control"
      aria-describedby="emailHelp"
      placeholder="Enter USER ID" 
      [value]="name" 
      #searchName
      >
      <ng-select id="platformSelect"
      class="col-sm-3"
      style="padding-right:0; padding-left: 0; "
      [searchable]="false" 
      ng-selected="platforms[0]" 
      [items]="platforms" 
      [(ngModel)]="selectedPlatform">
      </ng-select> 

      <button id="searchBtn"
      class="col-sm-3 btn btn-primary"
      style="margin-top:0%;"
      (click)="searchClick(searchName.value, selectedPlatform)"
      >Submit</button>
      </div>
    </ng-template>
  

  </div>
</div>

  <div class="hor_ads"></div>


      <div class="row">
        <div class="col-sm">
          <div class="ads"></div>
        </div>
        <div class="col-sm">
            <router-outlet #routerOutlet="outlet"></router-outlet>
        </div>
        <div class="col-sm">
          <div class="ads"></div>
        </div>
      </div>

</div>